[submodule "RayTracingWithRotations"]
	path = RayTracingWithRotations
	url = https://github.com/tiutcristian/RayTracingWithRotations.git
[submodule "RayTracingBasic"]
	path = RayTracingBasic
	url = https://github.com/tiutcristian/VR_raytracing/
